.login
	.background
		canvas.background-canvas
	.login-wrap
		a.login__auth-btn(href="#") Авторизоваться
		.flip-container
			.flipper
				.avatar.login__avatar
					.avatar-wrap
						figure.avatar__img-wrap
							img.avatar__img(src="assets/img/avatar.jpg" alt="kuznetsov alexandr")
						.avatar__name-wrap
							span.avatar__name Кузнецов Александр
							span.avatar__dicription Личный сайт веб разработчика
							
					.social-wrap
						-
							var icons = [
								{ name: "vkontakte",   url: "https://vk.com/", mods: "#vk"},
								{ name: "github", url: "https://github.com/VivereMemento/dz-1", mods: "#github"},
								{ name: "instagram",    url: "https://www.instagram.com/", mods: "#in"}
							]
						ul.social
							each icon in icons
								li.social__item
									a(href=icon.url, target="_blank" class="social__link social__link_") #{icon.name}
										svg.icons.header__icons_mods
											use(xlink:href="assets/img/sprite.svg" + icon.mods)

					.avatar__menu
							-
								var items = [
									{ name: "Мои работы",   href: "works.html", mods: " avatar__menu-item_width"},
									{ name: "Обо мне",   href: "about.html" , mods: ""},
									{ name: "Блог",   href: "blog.html" , mods: ""}
								]
							ul.avatar__menu-list 
								each item in items
									li(class="avatar__menu-item" + item.mods)
										a(href="" + item.href).avatar__menu-link=item.name

				//avatar

				.login-auth
					.title-wrap.login__title-wrap_mods
						h2.title.login__title_mods Авторизируйтесь
					form.form#login-form(name="login-form" action="/login")
						.form__input-wrap
							.form__input-item
								label.form__input-icon(for="form__login") Логин
									span.icons.form__icons_absolute-center
										svg.icons.form__icons_color
											use(xlink:href="assets/img/sprite.svg#login")
								input.form__input.form__input-login(id="form__login", type="text", placeholder="Логин", name="username")

							.form__input-item
								label.form__input-icon(for="auth-pass") Пароль
									span.icons.form__icons_absolute-center
										svg.icons.form__icons_color
											use(xlink:href="assets/img/sprite.svg#password")
								input.form__input.form__input-passward(type="password", placeholder="Пароль", id="auth-pass", name="password")

							.form__checks
								.patch.patch-checkbox
									label.patch-label(for="auth-check")
										input.patch__input(id="auth-check", name="check" type="checkbox")
										span.patch-label__text Я человек
									
								.patch.radio
									span.patch__question Вы точно не робот?
									label.patch-label.patch-label_margin_right
										input.patch__input(name="check" type="radio")
										span.patch-label__text.patch-label__text_radio-mods
											| Да
									label.patch-label
										input.patch__input(name="check" type="radio")
										span.patch-label__text.patch-label__text_radio-mods 
											| Не уверен

						.form__btn-wrap
							a.form__btn.form__btn-link_mods(href="#") На главную
							input.form__btn(type="submit" value="Войти" form="login-form")

				//login-auth