/* --------- adjustment --------- */

$container-width: 1105px;
$footer-height: 185px;
$ffRL: 'RobotoLight', sans-serif;
$ffRR: 'RobotoRegular', sans-serif;
$ffRM: 'RobotoMedium', sans-serif;
$ffRB: 'RobotoBold', sans-serif;
$ffSWR: 'SansusWebissimo', sans-serif;
$green: #74a163;
$titleGreen: #566358;
$headingBlack: #373e42;

/*----- common classes -----*/

// header background
.bg-wrap {
		width: 100%;
		height: 790px;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
	}
.bg {
		min-width: 100%;
		max-width: 100%;
		min-height: 100%;
	}

//arrow ***********//

.arrow {
	width: 100%;
	font-size: 0;
}

.box {
  margin: 50px auto;
}

.traingle .left{
  fill: #f8f9f4;
}
.traingle .right{
  fill: #f8f9f4;
}

//heading

.heading-wrap {
	margin-bottom: 40px;
	background:  url(../img/about_heading-bg.png) no-repeat center center;
}

.heading {
	margin: 0;
	font: 3.938em/130px $ffSWR;
	text-transform: uppercase;
	color: $headingBlack;
	display: inline-block;
	position: relative;

	&:after {
		content: "";
		width: 90px;
		height: 4px;
		background-color: $headingBlack;
		position: absolute;
		bottom: 8px;
		left: 30%;
	}
}

//title

.title-wrap {
	padding: 30px 0;
}

.title {
	margin: 0;
	font: 2.188em/41px $ffSWR;
	text-transform: uppercase;
	color: $titleGreen;
	display: inline-block;
	position: relative;

	&:after {
		content: "";
		width: 90px;
		height: 2px;
		background-color: $titleGreen;
		position: absolute;
		bottom: -22px;
		left: 33%;
	}
}

//icons

.icons {
	width: 20px;
	height: 20px;
	fill: #fff;
	vertical-align: middle;
}

/* ----- common styles ----- */

html {
	width:100%;
	height: 100%;
	font-size: 100.01%;
}

body {
	width:100%;
	height:100% !important;
	font: 16px/1.41 $ffRR;
    -webkit-font-smoothing: antialiased;
	background: #f4f4f4;
}

.container {
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
    width: $container-width;
	@include clearfix;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;

	&:after {
		display: block;
		position: relative;
		height: $footer-height;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none outside none;

	li {
		padding: 0;
		left: 0;
	}
}

p {
	padding: 0;
	margin: 0;
}

footer {	
	position: relative;
	height: $footer-height;
}

* {
	box-sizing: border-box;
}