/* --------- adjustment --------- */

$container-width: 1105px;
$footer-height: 185px;
$ffRL: 'RobotoLight', sans-serif;
$ffRR: 'RobotoRegular', sans-serif;
$ffRM: 'RobotoMedium', sans-serif;
$ffRB: 'RobotoBold', sans-serif;
$ffSWR: 'SansusWebissimo', sans-serif;
$green: #74a163;
$titleGreen: #566358;
$headingBlack: #373e42;

/*----- common classes -----*/

// header background
.bg-wrap {
	width: 100%;
	height: 100vh;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.bg {
	min-width: 100%;
	min-height: 100%;
}

.portfolio-bg {
	margin: 0;
	text-align: center;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0%;
	bottom: 0;
	transform: translateY(-50%);

	&__img {
		max-width: 100%;
		display: inline-block;
	}
}

//arrow ***********//

.arrow {
	width: 100%;
	margin-bottom: -3px;
	font-size: 0;
	line-height: 0;
	position: absolute;
	bottom: 0;
	left: 0;

	@include desktopSmall {
		margin-bottom: 0;
	}

	&__left {
		fill: #f8f9f4;
	}

	&__right {
		fill: #f8f9f4;
	}
}

//heading

.heading-wrap {
	margin-bottom: 40px;
	position: relative;

	&:before {
		display: block;
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		@include phones {
			background-size: 225px 100px;
		}
	}
}

.heading {
	margin: 0;
	font: 3.938rem/130px $ffSWR;
	text-transform: uppercase;
	color: $headingBlack;
	display: inline-block;
	position: relative;

	@include tablets {
		font-size: 49px;
		line-height: 42px;
	}

	@include phones {
		font-size: 35px;
		line-height: 42px;
	}

	&:after {
		content: "";
		width: 90px;
		height: 4px;
		background-color: $headingBlack;
		position: absolute;
		bottom: 8px;
		left: 30%;

		@include phones {
			width: 56px;
			height: 3px;
			bottom: -15px;
		}
	}
}

//title

.title-wrap {
	padding: 30px 0;
}

.title {
	margin: 0;
	font: 2.188rem/41px $ffSWR;
	text-transform: uppercase;
	color: $titleGreen;
	display: inline-block;
	position: relative;

	@include tablets {
		font-size: 30px;
	}

	@include phones {
		font-size: 21px;
		line-height: 28px;
	}

	&:after {
		content: "";
		width: 90px;
		height: 3px;
		background-color: $titleGreen;
		position: absolute;
		bottom: -22px;
		left: 33%;

		@include tablets {
			bottom: -15px;
		}

		@include phones {
			width: 56px;
		}
	}
}

//icons

.icons {
	width: 20px;
	height: 20px;
	fill: #fff;
	vertical-align: middle;
}

/* ----- common styles ----- */

html {
	width:100%;
	height: 100%;
	font-family: $ffRR;
	font-size: 16px;
	line-height: 22px;
}

body {
	width:100%;
	height:100% !important;
    -webkit-font-smoothing: antialiased;
	background: #f4f4f4;
}

.container {
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
    width: $container-width;
	@include clearfix;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;

	&:after {
		display: block;
		position: relative;
		height: $footer-height;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none outside none;

	li {
		padding: 0;
		left: 0;
	}
}

p {
	padding: 0;
	margin: 0;
}

footer {	
	position: relative;
	height: $footer-height;
}

* {
	box-sizing: border-box;
}