footer.footer
	.footer__top
		ul.footer__list
			ll.footer__item
				p.footer__item-text
					| Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool

			li.footer__item
				.footer__menu
					-var items = ["Мои работы", "Обо мне", "Блог", "Авторизация"]
					ul.footer__menu-list
						each item in items
							li.footer__menu-item
								a(href="#").footer__menu-link=item
				//menu
				-
					var icons = [
						{ name: "vkontakte",   url: "https://vk.com/", mods: "#vk"},
						{ name: "github", url: "https://github.com/VivereMemento/dz-1", mods: "#github"},
						{ name: "instagram",    url: "https://www.instagram.com/", mods: "#in"}
					]

				ul.social.footer__social_mods
					each icon in icons
						li.social__item
							a(href=icon.url, target="_blank" class="social__link") #{icon.name}
								svg.icons.footer__icons_mods
									use(xlink:href="assets/img/sprite.svg" + icon.mods)

				//social__list

			li.footer__item
				p.footer__item-text.footer__item-text_mods
					| Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
				span.footer__item-author.footer__item-text_mods - Martin Golding

	.footer__bottom
		span.footer__bottom-text &copy;Александр Кузнецов|Создано с любовью в LoftSchool|2016