header.header
	figure.header__bg-wrap
		img.header__bg(src="assets/img/header-bg.jpg" alt="fores-and-lake")
	//header__bg-wrap
	.header-wrap
		.avatar
			figure.avatar__img-wrap
				img.avatar__img(src="assets/img/avatar.jpg")
			.avatar__name-wrap
				span.avatar__name Кузнецов Александр
				span.avatar__dicription Личный сайт веб разработчика
//header