header.header
	figure.bg-wrap
		img.bg(src="assets/img/header-bg.jpg" alt="forest-and-lake")
	//header__bg-wrap
	figure.portfolio-bg
		img(src="assets/img/portfolio_header.png" alt="fores-and-lake" class="portfolio-bg__img")
	.header__avatar-wrap
		.avatar.header__avatar_mods
			figure.avatar__img-wrap
				img.avatar__img(src="assets/img/avatar.jpg" alt="alexandr kuznetsov")
			.avatar__name-wrap
				span.avatar__name Кузнецов Александр
				span.avatar__dicription Личный сайт веб разработчика
	.clickArrow-wrap
		a.clickArrow(href="#")
	.arrow
		svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 90" preserveaspectratio="none" class="arrow__box")
			polygon(class="arrow__left about__arrow__left_color works__arrow__left_color" points="0,0   0,90   500.8,90   500.8,85")
			polygon(class="arrow__right about__arrow__right_color" points="1000,0   1000,90   500,90   500,85")
		
//header