header.header
	figure.bg-wrap
		img.bg(src="assets/img/header-bg.jpg" alt="fores-and-lake")
	//header__bg-wrap
	.header-wrap
		.avatar.blog__avatar_mods
			figure.avatar__img-wrap
				img.avatar__img(src="assets/img/avatar.jpg")
			.avatar__name-wrap
				h1.heading.blog__heading_mods 
					| Блог
				span.avatar__dicription.blog-avatar__discription_margin_top
					| Статьи, которые я написал
		.clickArrow-wrap
			a.clickArrow(href="#")
		.arrow
			svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 90" preserveaspectratio="none" class="traingle")
				polygon(class = "arrow__left  blog__arrow_color" points="0,0   0,90   500.8,90   500.8,85")
				polygon(class = "arrow__right blog__arrow_color" points="1000,0   1000,90   500,90   500,85")
section.blog
	
	aside.blog__aside
		-
			var titles = [
				{title: 'Самое важное в SASS', id: 'article1'},
				{title: 'Приемы в верстке, без которых не обходится ни один сайт', id: 'article2'},
				{title: 'Самый необходимый набор Gulp плагинов', id: 'article3'},
				{title: 'Почему я выбрал Jade', id: 'article4'}
			]

		ul.blog__aside-menu
			each item in titles
				li(class="blog__aside-item " + ((item.title == "Самое важное в SASS") ? 'active' : ''))
					a(href='#' + item.id).blog__aside-title #{item.title} 
	main.blog__content
		article.articles
			section.articles__item(data-section="article1")
				h2.title.articles__title_mods
					| Самое важное в SASS
				p.articles__text.
					Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

				p.articles__text.
					Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

			//articles__item
			section.articles__item(data-section="article2")
				h2.title.articles__title_mods
					| Самое важное в SASS
				p.articles__text.
					Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

				p.articles__text.
					Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
			//articles__item
			section.articles__item(data-section="article3")
				h2.title.articles__title_mods
					| Самое важное в SASS
				p.articles__text.
					Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

				p.articles__text.
					Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
			//articles__item
			section.articles__item(data-section="article4")
				h2.title.articles__title_mods
					| Самое важное в SASS
				p.articles__text.
					Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

				p.articles__text.
					Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
			//articles__item
		//articles