header.header.blog__header_mods
	.header-wrap.blog__header-wrap_padding
		.avatar.blog__avatar_mods
			figure.avatar__img-wrap
				img.avatar__img(src="assets/img/avatar.jpg")
			.avatar__name-wrap
				h1.heading.blog__heading_mods 
					| Блог
				span.avatar__dicription.blog-avatar__discription_margin_top
					| Статьи, которые я написал
		.arrow.blog__arrow_mods
			svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 90" preserveaspectratio="none" class="traingle")
				polygon(class = "left" points="0,0   0,90   500.8,90   500.8,85")
				polygon(class = "right" points="1000,0   1000,90   500,90   500,85")
section.blog
	
	aside.blog__aside
		-var titles = ['Самое важное в SASS', 'Приемы в верстке, без которых не обходится ни один сайт', 'Самый необходимый набор Gulp плагинов', 'Почему я выбрал Jade']
		ul.aside__list
			each title in titles
				li(class="aside__item " + ((title == "Самое важное в SASS") ? 'active' : ''))
					span.aside__title #{title} 
	main.blog__content
		article.articles
			.articles__item
				h2.title.articles__title_mods
					| Самое важное в SASS
				p.articles__text.
					Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

				p.articles__text.
					Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

			//articles__item
			.articles__item
				h2.title.articles__title_mods
					| Самое важное в SASS
				p.articles__text.
					Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

				p.articles__text.
					Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
			//articles__item
			.articles__item
				h2.title.articles__title_mods
					| Самое важное в SASS
				p.articles__text.
					Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

				p.articles__text.
					Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
			//articles__item
			.articles__item
				h2.title.articles__title_mods
					| Самое важное в SASS
				p.articles__text.
					Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

				p.articles__text.
					Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
			//articles__item
		//articles