
<!-- ***** SOCIAL ***** //-->
<div class="social">
  <ul class="social__list">
    <li class="cocial__list"><a href="https://vk.com/" target="_blank" class="social__link social__link_vk">vkontakte</a></li>
    <li class="cocial__list"><a href="#11" target="_blank" class="social__link social__link_tw">twiter</a></li>
    <li class="cocial__list"><a href="#22" target="_blank" class="social__link social__link_fb">facebook</a></li>
  </ul>
</div>
<!-- ***** MENU ***** /-->
<div class="menu">
  <div>
    <ul>
      <li>Hello</li>
      <li>Hello</li>
      <li>Hello</li>
      <li>Hello</li>
      <li>Hello</li>
    </ul>
  </div>
</div>
<!-- ***** NAVIGATION ***** //-->
<nav class="nav">
  <div class="container">
    <ul class="nav__list">
      <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Запчасти</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Вопрос-ответ</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Отзывы</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Гарантия</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
    </ul>
  </div>
  <!--container-->
</nav>
<!--nav-->
*/