section.testimonials
	.testimonials__leaves.testimonials__leaves-1
	.testimonials__leaves.testimonials__leaves-2
	.testimonials__leaves.testimonials__leaves-3
	.testimonials__img-wrap
		img.testimonials__img(src="assets/img/contacts-bg.png")
	.testimonials-wrap
		.heading-wrap.testimonials__heading-wrap_mods
			h1.heading.testimonials__heading_mods Что обо мне <br>говорят</br>
		ul.testimonials__list
			li.testimonials__item
				.testimonials__item__text-wrap
					figure.testimonials__item__img
					p.testimonials__item__text.
						Этот парень проходил обучение веб-разработке не где-то, а в 
						LoftSchool! 2месяца только самых тяжелых испытаний и бессонных ночей!
					span.testimonials__item__name Ковальчук Дмитрий
					span.testimonials__item__name-discrpt -- основатель Loftschool
			li.testimonials__item
				.testimonials__item__text-wrap
					figure.testimonials__item__img
					p.testimonials__item__text.
						Этот парень проходил обучение веб-разработке не где-то, а в 
						LoftSchool! 2месяца только самых тяжелых испытаний и бессонных ночей!
					span.testimonials__item__name Ковальчук Дмитрий
					span.testimonials__item__name-discrpt -- основатель Loftschool
		//testimonials__list

		.conection
			.conection__form
				.title-wrap
					h2.title Связаться со мной
				form#contact-me.form
					.form__input-wrap
						input.form__input.form__input_conection-mods(type="text" placeholder="Имя" qtip-position="bottom center" qtip-content="Вы не ввели Ваше имя")
						input.form__input.form__input_conection-mods(type="text" placeholder="Email" qtip-position="bottom center" qtip-content="Вы не ввели email")
						textarea.form__input.form__input_conection-mods.form__input_textarea-mods(type="textarea" placeholder="Ваше собщение" name="message" qtip-position="bottom center" qtip-content="Что Вы от меня хотите?")
					.form__btn-wrap
						input.form__btn.form__btn_padding(type="submit" value="Отправить")
						input.form__btn.form__btn_padding(type="reset" value="Очистить")

	//conection

//testimonials