section.testimonials
	.testimonials__leaves.testimonials__leaves-1
	.testimonials__leaves.testimonials__leaves-2
	.testimonials__leaves.testimonials__leaves-3
	.testimonials__img-wrap
	.testimonials-wrap
		.heading-wrap.testimonials__heading-wrap_mods
			h1.heading.testimonials__heading_mods Что обо мне <br>говорят</br>
		ul.testimonials__list
			li.testimonials__item
				.testimonials__item__text-wrap
					figure.testimonials__item__img
					p.testimonials__item__text.
						Этот парень проходил обучение веб-разработке не где-то, а в 
						LoftSchool! 2месяца только самых тяжелых испытаний и бессонных ночей!.form__input-item_testimonial-mods
					span.testimonials__item__name Ковальчук Дмитрий
					span.testimonials__item__name-discrpt -- основатель Loftschool
			li.testimonials__item
				.testimonials__item__text-wrap
					figure.testimonials__item__img
					p.testimonials__item__text.
						Этот парень проходил обучение веб-разработке не где-то, а в 
						LoftSchool! 2месяца только самых тяжелых испытаний и бессонных ночей!
					span.testimonials__item__name Ковальчук Дмитрий
					span.testimonials__item__name-discrpt -- основатель Loftschool
		//testimonials__list

		.conection
			.conection__form
				.title-wrap
					h2.title Связаться со мной
				form#contact-me.form(form="mailForm", method="post", action="/send")
					.form__input-wrap
						.form__input-item.form__input-item_testimonial-mods
							label(for="mail-name").form__label Имя
							input.form__input.form__input_conection-mods(type="text", placeholder="Имя", id="mail-name", name="name")
						.form__input-item.form__input-item_testimonial-mods
							label(for="mail-email").form__label E-mail
							input.form__input.form__input_conection-mods(type="text", placeholder="E-mail", id="mail-email", name="email")
						.form__input-item.form__input-item_testimonial-mods.form__input-item_textarea-mods
							label(for="mail-message").form__label Сообщение
							textarea.form__input.form__input_conection-mods.form__input_textarea-mods(placeholder="Ваше сообщение", name="message", id="mail-message")
					.form__btn-wrap
						input.form__btn.form__btn_padding(type="submit", value="Отправить", form="contact-me")
						input.form__btn.form__btn_padding(type="reset" value="Очистить", form="contact-me")
				.form__succes
					.form__succes-header Ваше сообщение отправлено
					span Спасибо за ваш интерес к моей работе.
					span Я свяжусь с вами в ближайшее время.
				.form__error
					span Что-то пошло не так.
					span Обновите страницу и отправьте сообщение снова.

	//conection

//testimonials