section.testimonials
	.testimonials__img-wrap
		img.testimonials__img(src="assets/img/works-ground.png")
	.testimonials-wrap
		.heading-wrap.testimonials__heading-wrap_mods
			h1.heading.testimonials__heading_mods Что обо мне <br>говорят</br>
		ul.testimonials__list
			li.testimonials__item
				.testimonials__item__text-wrap
					figure.testimonials__item__img
					p.testimonials__item__text.
						Этот парень проходил обучение веб-разработке не где-то, а в 
						LoftSchool! 2месяца только самых тяжелых испытаний и бессонных ночей!
					span.testimonials__item__name Ковальчук Дмитрий
					span.testimonials__item__name-discrpt -- основатель Loftschool
			li.testimonials__item
				.testimonials__item__text-wrap
					figure.testimonials__item__img
					p.testimonials__item__text.
						Этот парень проходил обучение веб-разработке не где-то, а в 
						LoftSchool! 2месяца только самых тяжелых испытаний и бессонных ночей!
					span.testimonials__item__name Ковальчук Дмитрий
					span.testimonials__item__name-discrpt -- основатель Loftschool
		//testimonials__list

		.conection
			.conection__form
				.title-wrap
					h2.title Связаться со мной
				form.form
					.form__input-wrap
						input.form__input(type="text" placeholder="Имя")
						input.form__input(type="text" placeholder="Email")
						textarea#form.form__input.form__input_mods(type="textarea" placeholder="Ваше собщение")
					.form__btn-wrap
						input.form__btn.form__btn_br_left(type="submit" value="Отправить")
						input.form__btn.form__btn_br_right(type="reset" value="Очистить")

	//conection

//testimonials