section.works
				
	.heading-wrap.works__heading-wrap_mods
		h1.heading.works__heading_mods Мои работы
	.works__content
			.works__left
				.works-slider__content
					.works-slider__content-wrapper
						.works-slider__display
							img(src="/" alt="image").works-slider__display-pic
						.works-slider__item-about
							.works__subtitle
								.subtitle
							.works__content-desc
							.works__content-btn
								a(href="#" target="_blank").works__content-view
									.works__btn-icon
										svg.icons
											use(xlink:href="assets/img/sprite.svg#link")
									|Посмотреть сайт
			.works__right
				.works-slider
					.works-slider__controls
						a(href="#").works-slider__control-btn.works-slider__control-btn_left
							ul.works-slider__control-list
								-
									var slides = [
										{
											"full" : 'assets/img/slider/Fitness.png',
											"title" : 'Фитнес центр "Fitness"',
											"skills" : 'CSS/CSS3 HTML/HTML5 JavaScript jQuery',
											"link" : 'https://github.com/VivereMemento/first'
										},

										{
											"full" : 'assets/img/slider/gasolina.png',
											"title" : 'Автоцентр "Gasolina"',
											"skills" : 'CSS/CSS3 HTML/HTML5 JavaScript jQuery',
											"link" : 'https://github.com/VivereMemento/second'

										},

										{
											"full" : 'assets/img/slider/panama.png',
											"title" : 'Интернет магазин "Panama"',
											"skills" : 'CSS/CSS3 HTML/HTML5 JavaScript jQuery',
											"link" : 'https://github.com/VivereMemento/third'
										},

										{
											"full" : 'assets/img/slider/forest.jpg',
											"title" : 'Сайт "Portfolio"',
											"skills" : 'Node.js MongoDb',
											"link" : 'https://github.com/VivereMemento/dz-1'
										}
									]
								each value in slides
									li.works-slider__control-item(
										data-full="" + value.full
										data-title="" + value.title
										data-skills="" + value.skills
										data-link="" + value.link
									)
										img.works-slider___control-img(src="" + value.full alt="image")
						a(href="#").works-slider__control-btn.works-slider__control-btn_right