section.works
				
	.heading-wrap.works__heading-wrap_mods
		h1.heading.works__heading_mods Мои работы
	.slider-wrap
		ul.discription
			li.discription__item
				.title-wrap.discription__title-wrap_mods
					h2.title.discription__title_mods Сайт школы онлайн образования
				.discription__text-wrap
					span.discription__text html, css, javascript
				.discription__btn-wrap
					a.discription__btn(href="#")
						.discription__btn-icon
							svg.icons
								use(xlink:href="assets/img/sprite.svg#link")
						.discription__btn-title Посмотреть сайт

		//discription__list

		.slider
			.slider__show
				img(src="http://lorempixel.com/400/200/cats/1")
			.slider__container
				.slider__display
					ul.slider__list
						li.slider__item.active
							img.slider__item-pic(src="http://lorempixel.com/400/200/sports/3")
						li.slider__item
							img.slider__item-pic(src="http://lorempixel.com/400/200/cats/2")
						li.slider__item
							img.slider__item-pic(src="http://lorempixel.com/400/200/cats/1") 
						li.slider__item
							img.slider__item-pic(src="http://lorempixel.com/400/200/sports/1")
					.slider__controls
						a.slider__controls-top(href="#")
				//slider__container 
			.slider__container.slider__container_opposite
				.slider__display
					ul.slider__list
						li.slider__item.active
							img.slider__item-pic(src="http://lorempixel.com/400/200/sports/3")
						li.slider__item
							img.slider__item-pic(src="http://lorempixel.com/400/200/cats/2")
						li.slider__item
							img.slider__item-pic(src="http://lorempixel.com/400/200/cats/1")
						li.slider__item
							img.slider__item-pic(src="http://lorempixel.com/400/200/sports/1")
					.slider__controls
						a.slider__controls-bottom(href="#")

			//slider__container
		//slider
	//slider-wrap
//works