section.works
				
	.heading-wrap.works__heading-wrap_mods
		h1.heading.works__heading_mods Мои работы
	.works__content
			.works__left
				.works-slider__content
					.works-slider__content-wrapper
						.works-slider__display
							img(src="/" alt="image").works-slider__display-pic
						.works-slider__item-about
							.works__subtitle
								.subtitle
							.works__content-desc
							.works__content-btn
								a(href="#").works__content-view
									.works__btn-icon
										svg.icons
											use(xlink:href="assets/img/sprite.svg#link")
									|Посмотреть сайт
			.works__right
				.works-slider
					.works-slider__controls
						a(href="#").works-slider__control-btn.works-slider__control-btn_left
							ul.works-slider__control-list
								-
									var slides = [
										{
											"full" : 'assets/img/slider/1.png',
											"title" : 'Агентсво интернет решений "ITLoft"',
											"skills" : 'node',
											"link" : 'http://itloft.ru/'
										},

										{
											"full" : 'assets/img/slider/2.png',
											"title" : 'Школа онлай-образования "LoftSchool"',
											"skills" : 'html5, CSS3, javascript, php',
											"link" : 'http://loftschool.com/'

										},

										{
											"full" : 'assets/img/slider/3.png',
											"title" : 'Портал обучающих уроков "LoftBlog"',
											"skills" : 'Ruby on Rails, javascript, RESTful',
											"link" : 'http://loftblog.ru/'
										},

										{
											"full" : 'assets/img/slider/4.png',
											"title" : 'Сайт "Атма йога"',
											"skills" : 'UX, design, seo',
											"link" : 'http://atmayoga.ru/'
										}
									]
								each value in slides
									li.works-slider__control-item(
										data-full="" + value.full
										data-title="" + value.title
										data-skills="" + value.skills
										data-link="" + value.link
									)
										img.works-slider___control-img(src="" + value.full alt="image")
						a(href="#").works-slider__control-btn.works-slider__control-btn_right