.title-wrap.panel__title-wrap
	h2.panel__title Страница "Блог"
form.panel__form.blog__panel-form
	.panel__form-content
		.panel__form-title Добавить запись
		.panel__form-input-wrap.panel__form-input-wrap_blog-mods
			input.tabs__input(type="text" id="panel__form-blog-name", name="blog-name" placeholder="Название")
		.panel__form-input-wrap.panel__form-input-wrap_blog-mods
			input.tabs__input(type="text" id="panel__form-blog-date", name="blog-date" placeholder="Дата")
		.panel__form-input-wrap.panel__form-input-wrap_blog-mods
			textarea.tabs__input.tabs__input_taxtarea-mods(id="panel__form-blog-text", name="blog-text" placeholder="Содержание")
	.panel__form-submit
		input.panel__form-btn(type="submit" value="Добавить")