.header-wrap {
	height: 100%;
	text-align: center;

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

.blog {
	padding: 55px 100px 230px 55px;
	background-color: #faf8f0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: relative;

	@include laptop {
		padding-bottom: 300px;
	}

	@include tablets {
		padding: 55px 25px 330px 25px;
	}

	@include phones {
		padding: 35px 10px 400px 10px;
	}
}

.blog__heading_mods {
	color: #fff;
	font: 3.938rem/90px  "SansusWebissimo", sans-serif;

	@include tablets {
		font-size: 49px;
		line-height: 52px;
	}

	&:after {
		background-color: #fff;
		bottom: -25px;
		left: 13%;

		@include tablets {
			width: 86px;
			height: 2px;
			bottom: -13px;
			left: 4%;
		}
	}
}

.blog__avatar_mods {
	width: 380px;
	background: transparent;
	padding-bottom: 35px;
	background: url(../img/blog_header.svg) no-repeat bottom 20px center;
	display: inline-block;
	vertical-align: middle;
	position: static;

	@include phones {
		width: 304px;
	}

	@include tablets {
		background-size: 210px;
	}
}

.blog-avatar__discription_margin_top {
	margin-top: 50px;

	@include tablets {
		margin-top: 23px;
	}
}

.blog__arrow_color {
	fill: #faf8f0;
}

.blog__aside {
	width: 32%;

	@include tablets {
		width: 0;
	}
}

.blog__aside-menu {
	text-align: right;
	transition: all .5s;

	@include tablets {
		width: 33.5%;
		padding: 20px;
		text-align: right;
		background-color: #74a163;
		height: 100%;
		position: fixed;
		top: 0;
		left: -33.5%;
		z-index: 9999;
	}

	&:after {
		content: attr(data-content) "";
		width: 30px;
		height: 50px;
		background-color: #74a163;
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
		position: absolute;
		top: 50%;
		right: -20px;
		cursor: pointer;
		display: none;

		@include laptop {
			display: block;
		}
	}

	&_fixed {
		left: 0;
	}
}

.menu-fixed {
	width: 29.2%;
	position: fixed;
	top: 30px;
	display: block;

	@include desktopMiddle {
		width: 28.2%;
	}

	@include tablets {
		width: 33.5%;
		top: 0;
		left: -33.5%;
	}
}

.menu-fixed-tablets {
	top: 0;
	left: 0;

	@include phones {
		width: 55%;
	}
}

.blog__aside-item {
	padding: 13px;
	border-right: 3px solid transparent;

	@include laptop {
		padding: 5px;
		border-right: none;
	}

&.active {
	border-right: 3px solid #4e8839;

	@include laptop {
		border-right: none;
	}
}

&.active .blog__aside-title {
		font: 1rem $ffRB;
		color: #4e8839;

		@include laptop {
			font: 0.7rem $ffRR;
			color: #fff;
		}
	}
}

.blog__aside-title {
	font-size: 1rem;
	color: #566358;
	text-decoration: none;

	@include laptop {
		font-size: 0.7rem;
		color: fade-out(#fff, .3);
	}
}

.blog__content {
	width: 60%;
	margin-left: 110px;

	@include laptop {
		width: 100%;
		margin-left: 0;
	}
}

.articles {

	&__title_mods {
		margin-bottom: 25px;
		font-size: 2rem;
		line-height: 30px;

		@include tablets {
			font-size: 30px;
		}

		@include phones {
			font-size: 21px;
		}

		&:after {
			display: none;
		}
	}

	&__item {
		padding-bottom: 70px;
		margin-bottom: 70px;
		border-bottom: 5px solid #ecebe4;

		@include phones {
			padding-bottom: 40px;
			margin-bottom: 40px;
		}

		&:last-child {
			padding-bottom: 0px;
			margin-bottom: 0px;
			border-bottom: 0;
		}
	}

	&__text {
		margin-bottom: 15px;
		font-size: 1rem;
		color: #566358;

		@include tablets {
			font-size: 14px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}