.contacts {
	width: 100%;
	height: 975px;
	padding-top: 325px;
	text-align: center;
	position: relative;

	@include laptop {
		padding-top: 200px;
	}

	@include tablets {
		padding-top: 200px;
	}

	@include phones {
		padding-top: 0;
	}
}

.contacts-wrap {
	width: 380px;
	background-color: fade-out(#fff, .2);
	border-radius: 5px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);

	@include laptop {
		width: 320px;
		border-radius: 0;
	}

	@include phones {
		top: 0;
		left: 0;
		transform: translate(0);
	}
}

.contacts__title_mods {
	
	@include phones {
		font-size: 35px;
	}

	&:after {
		left: 20%;

		@include phones {
			left: 33%;
		}
	}
}

.contacts__list {
	margin-top: 30px;
	padding: 0 40px;
	text-align: left;

	@include phones {
		margin-top: 0;
	}
}

.contacts__item {
	margin-bottom: 20px;
}

.contacts__icons_mods {
	margin-right: 10px;
	fill: $green;
}

.contacts__data {
	font-family: $ffRM;
	color: #566358;
	display: inline-block;

}

.map-wrap {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.map__img {
	max-width: 100%;
	min-width: 100%;
	min-height: 100%;
}