.contacts {
	width: 100%;
	height: 975px;
	padding-top: 325px;
	text-align: center;
	position: relative;

	&-wrap {
		width: 380px;
		height: 315px;
		background-color: fade-out(#fff, .2);
		border-radius: 5px;
		display: inline-block;
		position: relative;

		@include laptop {
			width: 320px;
			border-radius: 0;
		}
	}

	&__title_mods {
		
		@include phones {
			font-size: 35px;
		}

		&:after {
			left: 20%;

			@include phones {
				left: 33%;
			}
		}
	}

	&__list {
		margin-top: 30px;
		padding: 0 40px;
		text-align: left;

		@include phones {
			margin-top: 0;
		}
	}

	&__item {
		margin-bottom: 20px;
	}

	&__icons_mods {
		margin-right: 10px;
		fill: $green;
	}

	&__data {
		font-family: $ffRM;
		color: #566358;
		display: inline-block;

	}
}

.map__img-wrap {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.map__img {
	max-width: 100%;
	min-width: 100%;
	min-height: 100%;
}