.footer {
	margin-top: -$footer-height;

	&__top {
		padding: 30px 0;
		background-color: fade-out(#52585b, .2);
	}

	&__list {
		display: flex;
		flex-direction: row;

		
	}

	&__item {
		width: 33.3%;
		padding: 0 30px;
		border-right: 1px solid fade-out(#fff, .7);

		&:last-child {
			border-right: none;
		}

		&-text,
		&-author {
			color: #fff;
			opacity: .5;
		}

		&-author {
			font-weight: 700;
		}

		&-text_mods {
			font-style: italic;
		}
	}

	&__bottom {
		padding: 10px 0;
		text-align: center;
		background-color: fade-out(#80a970, .2);

		&-text {
			font-family: 1em $ffRL;
			color: #fff;
		}
	}
}

/* -------- menu -------- */

.footer__menu {

	&-list {
		text-align: justify;

		&:after {
			/*эмуляция второй строчки, чтобы можно было 
			выравнять текст по значению justify*/
			content: "";
			display: inline-block;
			width: 100%;
			height: 0;
		}
	}

	

	&-item {
		display: inline-block;
	}

	&-link {
		font: 1em $ffRM;
		color: #fff;
		text-decoration: none;
	}
}

.social__icon_footer-mods {
	opacity: .5;

	&:hover {
		opacity: 1;
		fill: #fff;
	}
}
