.Background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.Background::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.login {
	width: 100%;
	height: 100vh;
	text-align: center;
	background: url(../img/header-bg.jpg) no-repeat center center;
	background-size: cover;
	position: relative;

	&-wrap {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		&:before {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
	}

	&__auth-btn {
		padding: 10px 25px;
		font-family: $ffRM;
		color: #fff;
		text-decoration: none;
		border: 1px solid #fff;
		border-radius: 50px;
		display: block;
		position: absolute;
		top: 30px;
		right: 105px;
		transition: all .3s;

		&:hover {
			background-color: #4e8839;
		}

		@include tablets {
			right: 30px;
		}

		@include phones {
			top: 10px;
			right: 23%;
		}
	}
}

.social {
	padding: 30px 115px;

	@include tablets {
		padding: 30px 94px;
	}

	&__item {
		display: inline-block;
		margin-right: 25px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		font-size: 0;
	}
}

.flip-container {
	width: 380px;
	height: 390px;
	perspective: 1000px;
	display: inline-block;
	vertical-align: middle;

	@include phones {
		width: 310px;
	}
}

.flipper {
	transition: .6s;
	transform-style: preserve-3d;
	position: relative;
}

.flip {
	transform: rotateY(180deg);
}

.avatar {
	padding-top: 35px;
	background-color: fade-out(#143128, .4);
	border-radius: 5px;
	overflow: hidden;
	z-index: 2;
	transform: rotateY(0deg);
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	
}

.login__avatar {
	transform: rotateX(-40deg);
	transform-origin: top center;
	transition: transform .6s;
}

.avatar__rotate-js {
	transform: rotateX(0deg);
}

.avatar__img-wrap {
	width: 150px;
	height: 147px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;

	@include tablets {
		width: 140px;
		height: 140px;
	}
}

.avatar__img {
	max-width: 100%;
	min-height: 100%;
}

.avatar__name-wrap {
	margin-top: 5px;
	text-align: center;

	@include tablets {
		margin-top: 25px;
	}
}

.avatar__name {
	font: 500 2rem/41px $ffRM;
	color: #fff;
	display: block;

	@include tablets {
		font-size: 1.7rem;
	}
}

.avatar__dicription {
	font: 400 1rem/24px $ffRR;
	color: #fff;
	display: block;
}

.avatar__menu-list {
	width: 100%;
	font-size: 0;
}

.avatar__menu-item {
	width: 30%;
	display: inline-block;
	border-right: 2px solid fade-out(#fff, .4);

	&:last-child {
		border-right: none;
	}
}

.avatar__menu-item_width {
	width: 40%;
}

.avatar__menu-link {
	padding: 15px 0;
	font: 16px/16px $ffRM;
	color: #fff;
	text-decoration: none;
	background-color: #618f54;
	display: block;

	&:hover {
		background-color: #487e38;
	}
}

// *********** login-auth ************** //

.login__title-wrap_mods {
	padding: 20px 0;
}

.login__title_mods {
	font-size: 2rem;
	color: #fff;

	&:after {
		background-color: #fff;
	}
}

.login-auth {
	@extend .avatar;
	padding-top: 0;
	transform: rotateY(180deg);
}

.form__input_border-js {
	border: 1px solid #E24845;
}

.form__input-icon_bordre_red-js {
	border-right: 1px solid #E24845;
}
.form__input-icon_bordre_green-js {
	border-right: 1px solid #618f54;
}

.form__icons_absolute-center {
	width: 14px;
	height: 25px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.login__footer {
	height: 50px;
	margin-top: -50px;
	text-align: center;
}