.testimonials {
	text-align: center;
	background-color: #f4f5f0;
	position: relative;
}

.testimonials__leaves {
	width: 155px;
	height: 130px;
	position: absolute;
	z-index: 9999;

	@include tablets {
		display: none;
	}

	&-1 {
		background: url(../img/list-1.png) no-repeat center center;
		bottom: 31%;
		left: 24%;

		@include desktopMiddle {
			bottom: 25%;
			left: 10%;
		}
	}

	&-2 {
		background: url(../img/list-2.png) no-repeat center center;
		top: 50%;
		left: 17%;

		@include desktopMiddle {
			top: 35%;
			left: 5%;
		}

	}

	&-3 {
		background: url(../img/list-3.png) no-repeat center center;
		bottom: -21%;
		right: 18%;

		@include desktopMiddle {
			bottom: -5%;
			right: 5%;
		}
	}
}

.testimonials__img-wrap {
	width: 100%;
	height: 100%;
	background: url(../img/contacts-bg.png) no-repeat bottom center;
	background-size: 100%;
	position: absolute;
	bottom: 0;
	left: 0;

	@include desktopMiddle {
		background-size: initial;
	}

	@include phones {
		background-size: cover;
	}
}

.testimonials-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	padding-bottom: 350px;

	@include phones {
		padding-bottom: 470px;
	}
}

.testimonials__heading-wrap_mods {
	margin: 0;
	padding: 60px 0;
	background-color: #f4f5f0;
	
	@include phones {
		padding: 30px 0;
	}

	&:before {
		background: url(../img/about_header.svg) no-repeat center center;

		@include laptop {
			background-size: 400px 150px;
			top: -10px;
		}

		@include phones {
			background-size: 225px 100px;
			top: -12px;
		}
	}
}

.testimonials__heading_mods {
	line-height: 65px;

	@include laptop {
		line-height: 50px;
	}

	@include phones {
		line-height: 42px;
	}

	&:after {
		bottom: -35px;
		left: 36%;

		@include laptop {
			bottom: -15px;
			left: 34%;
		}

		@include phones {
			bottom: -25px;
		}
	}
}

.testimonials__list {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;

	@include phones {
		padding-top: 20px;
	}
}

.testimonials__item {
	width: 49%;
	margin-right: 6px;
	font-style: italic;
	display: inline-block;
	vertical-align: top;

	@include laptop {
		margin-right: 0;
	}

	@include phones {
		width: 90%;
	}

	&:last-chil {
		margin-right: 0;
	}

	&__img {
		width: 78px;
		height: 78px;
		margin: 0 auto;
		background: url(../img/testimonials.jpg) no-repeat top -18px left -1px;
		border-radius: 50%;
		overflow: hidden;
	}

	&__text-wrap {
		background: url(../img/quotes.svg) no-repeat top 70px left 2px;
	}

	&__text {
		margin-top: 20px;
		text-align: left;
	}

	&__name {
		margin-top: 25px;
		font-weight: 700;
		color: #4e8839;
		display: block;
	}
}

.conection {
	padding-top: 70px;
	text-align: center;

	@include phones {
		padding-top: 35px;
	}

	&__form {
		width: 380px;
		background-color: fade-out(#e6e7e3, .5);
		border-radius: 5px;
		display: inline-block;
		overflow: hidden;

		@include phones {
			width: 310px;
		}
	}
}

.form {

	&__input_conection-mods {
		padding: 15px 20px;
		background-color: fade-out(#fff, .2);

		@include phones {
			padding: 10px 20px;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	&__input_textarea-mods {
			height: 140px;
			border-radius: 20px;
			resize: none;
		}

	&__btn-wrap {
		font-size: 0;
		line-height: 0;
	}

	&__btn_padding {
		padding: 15px 56.74px;

		@include phones {
			padding: 15px 38.9px;
		}
	}
}