.works {
	text-align: center;
	@include clearfix;
	position: relative;

	&__heading-wrap_mods {
		margin: 0;
		padding: 15px 0 30px 0;
		background: #f8f9f4 url(../img/works_header.svg) no-repeat center center;
	}

	&__heading_mods {
		&:after {
			left: 38%;
		}
	}
}

.discription {
	width: 50%;
	padding: 213px 0 255px 0;
	float: left;
	background-color: #ebefe1;

	&__title_mods {
		&:after {
			left: 33%;
		}
	}

	&__text-wrap {
		margin: 20px 0 55px 0;
	}

	&__text {
		font: 1em $ffRM;
		color: $green;
		text-transform: uppercase;
	}

	&__btn {
		display: inline-block;
		padding: 12px 20px;
		font: 1em $ffRM;
		color: #fff;
		text-decoration: none;
		background-color: $green;
		border-radius: 50px;

		&-icon, &-title {
			display: inline-block;
		}
	}
}