.works {
	text-align: center;
	position: relative;
}

.works__heading-wrap_mods {
	margin: 0;
	padding: 30px 0;
	background-color: #f8f9f5;

	@include tablets {
		padding: 50px 0;
	}

	@include phones {
		padding: 15px 0 30px 0;
	}

	&:before {
		background: url(../img/works_header.svg) no-repeat center center;
		top: -16px;
		
		@include tablets {
			background-size: 430px 150px;
			top: -17px;
		}

		@include phones {
			background-size: 225px 100px;
			top: -12px;
		}
	}
}

.works__heading_mods {
	&:after {
		left: 38%;

		@include tablets {
			left: 36%;
			bottom: -25px;
		}

		@include phones {
			left: 34%;
		}
	}
}

.works__arrow__left_color {
	fill: #f8f9f5;
}

.works__arrow__right_color {
	fill: #f8f9f5;
}

.discription {
	width: 50%;
	height: 100vh;
	background-color: #ebefe1;

	@include tablets {
		width: 100%;
		height: 100%;
		padding-bottom: 30px;
	}

	@include phones {
		width: 100%;
		float: none;
		padding: 0 0 20px 0;
	}

	&:before {
		content: "";
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}
}

.discription__item {
	width: 380px;
	display: inline-block;
	vertical-align: middle;

	@include tablets {
		width: 100%;
	}
}

.discription__title-wrap_mods {
	margin-bottom: 50px;
	padding: 0;
}

.discription__title_mods {
	&:after {
		left: 37%;

		@include tablets {
			left: 41%;
		}
	}
}

.discription__text-wrap {
	margin-bottom: 55px;

	@include phones {
		margin: 15px -0;
	}
}

.discription__text {
	font: 1rem $ffRM;
	color: $green;
	text-transform: uppercase;
}

.discription__btn {
	display: inline-block;
	padding: 12px 20px;
	font: 1rem $ffRM;
	color: #fff;
	text-decoration: none;
	background-color: $green;
	border-radius: 50px;

	&-icon, &-title {
		display: inline-block;
	}
}